@model MISAudit.Models.ResetPasswordViewModel


<div>


    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form id="account" method="post">
                    <h1>Reset Password</h1>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <input type="text" asp-for="Email" class="form-control" placeholder="Username" required="" />
                    </div>


                    <div class="form-group">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" />
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required="" />
                    </div>

                    <input type="submit" value="Update" class="submit btn btn-secondary float-none" style="margin-left:auto">


                    <div class="clearfix"></div>

                     
                </form>
            </section>
        </div>


    </div>

</div>