
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Dashboard","Index","Home")</li>
                    <li>@Html.ActionLink("About","About","Home")</li>
                </ul>
            </li>
        </ul>
    </div>
     

</div>

<!-- /menu footer buttons -->
@*@Html.Partial("_SideBarFotterMenu")*@
<!-- /menu footer buttons -->